<div mat-dialog-title>
  <h1>User form</h1>
</div>
<form>
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput type="text" placeholder="Ex. Steve">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput type="text" placeholder="Ex. Jone">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ex. jonedoe@gmail.com">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group aria-label="Select an option">
        <mat-label>Gender</mat-label>
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Education</mat-label>
        <mat-select>
          <mat-option *ngFor="let e of education" [value]="e">{{e}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input matInput type="text" placeholder="Ex. Microsoft">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Experience</mat-label>
        <textarea matInput placeholder="Ex. I worked in ..."></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input matInput type="text" placeholder="Ex. Microsoft">
      </mat-form-field>
    </div>
  </div>
</form>
<div mat-dialog-actions class="action">
  <button mat-raised-button>Cancel</button>
  <button mat-raised-button color="primary">Save</button>
</div>
