<div class="main-body">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" routerLink="/user-management">
          <mat-icon>people</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
