<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-keycloak-2:war exploded">
    <output-path>$PROJECT_DIR$/spring-boot-keycloak-2/target/spring-boot-keycloak-2-0.0.1</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-boot-keycloak-2</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-keycloak-2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-boot-keycloak-2/target/spring-boot-keycloak-2-0.0.1/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-keycloak-2/web/Web" />
    </root>
  </artifact>
</component>